In [5]:
from importlib import reload
from datetime import datetime

import pandas as pd

In [18]:
from rivapy.portfolio import \
    portfolio as pf, \
    value_at_risk as var
from rivapy.marketdata import api_handler as api

pf = reload(pf)
var = reload(var)
api = reload(api)

In [23]:

start = datetime.strptime('2012-01-01', '%Y-%m-%d')
end = datetime.strptime('2022-01-01', '%Y-%m-%d')

tickers = {
    "S&P500": "^GSPC",
    "DowJones": "^DJI",
    "EuroStoxx50": "FEZ",
    "DAX": "^GDAXI"
}

yf = api.YahooFinance.load(
    tickers,
    start,
    end
)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [26]:
n = 2000
yf = { k: v[:n] for k, v in yf.items() }

In [27]:

stockdata = pd.DataFrame.from_dict(
    yf
)
stockdata

           S&P500      DowJones  EuroStoxx50           DAX
0     1258.859985  12221.190430    30.340000   5900.180176
1     1277.030029  12392.459961    29.980000   6124.109863
2     1277.300049  12418.419922    29.219999   6141.259766
3     1280.930054  12407.450195    29.120001   6121.339844
4     1277.829956  12359.309570    28.850000   6114.640137
...           ...           ...          ...           ...
1995  3134.620117  27839.679688    39.830002  13145.769531
1996  3141.860107  27987.050781    39.689999  13247.509766
1997  3135.360107  27900.650391    39.500000  13256.400391
1998  3135.750000  27867.310547    39.689999  13291.089844
1999  3141.229980  27898.339844    39.950001  13247.610352

[2000 rows x 4 columns]